**/*.log
**/*.md
**/*.php~
**/._*
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitkeep
**/.gitmodules
**/Dockerfile
**/Thumbs.db
.editorconfig
.php-cs-fixer.cache
.travis.yml
pipelines/
bitbucket-pipelines.yaml
composer.phar
docker-compose*.yaml
docker-compose*.yml
docker/mysql/data/
etc/build/*
helm/
node_modules/
public/assets/
public/bundles/
public/css/
public/js/
public/media/
var/*
vendor/
